<form>

    <div class="left-column">

        <div class="users">
            <h3>Target User</h3>
            <select class="user-select">
                {{#each users as |user id|}}
                <option value="{{user.id}}">{{user.name}}</option>
                {{/each}}
            </select>
        </div>

        <div class="rule">
            <h3>Rule</h3>
            <div class="rule-config">
                d
                <input class="die-input" type="number" placeholder="20" />
                <select class="operator-select">
                    <option value=">">&gt;</option>
                    <option value=">=">&gt;=</option>
                    <option value="<">&lt;</option>
                    <option value="<=">&lt;=</option>
                    <option value="=">=</option>
                </select>
                <input class="value-input" type="number" placeholder="result" />
            </div>
        </div>

        <div class="buttons">
            <button class='create' type="button">Create Rule</button>
        </div>

    </div>

    <div class="right-column">

        <h3>Rules</h3>

        <table>
            <tr>
                <th>#</th>
                <th>User</th>
                <th>Rule</th>
                <th>Active</th>
            </tr>

            {{#each rules as |rule id|}}
            <tr data-rule-id="{{rule.id}}">
                <td>{{add @index 1}}</td>
                <td>{{rule.userName}}</td>
                <td>{{rule.rule}}</td>
                <td><input type="checkbox" name="{{rule.id}}" {{checked rule.active}} /></td>
                <td>
                    <a class="move up"><i class="fa-solid fa-angle-up"></i></a>
                    <a class="move down"><i class="fa-solid fa-angle-down"></i></a>
                    <a class="delete-button"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
            {{/each}}
        </table>

    </div>

</form>
