<form>

    <div class="left-column">

        <div class="users">
            <h3>Target User</h3>
            <select class="user-select">
                {{#each users as |user id|}}
                <option value="{{user.id}}">{{user.name}}</option>
                {{/each}}
            </select>
        </div>

        <div class="rule">
            <h3>Rule</h3>
            <div class="rule-config">
                d
                <input class="die-input" type="number" placeholder="20" />
                <select class="operator-select">
                    <option value=">">&gt;</option>
                    <option value=">=">&gt;=</option>
                    <option value="<">&lt;</option>
                    <option value="<=">&lt;=</option>
                    <option value="=">=</option>
                </select>
                <input class="value-input" type="number" placeholder="result" />
            </div>
        </div>

        <div class="buttons">
            <button class='create' type="button">Create Fudge</button>
        </div>

    </div>

    <div class="right-column">

        <h3>Fudges</h3>

        <table>
            <tr>
                <th>#</th>
                <th>User</th>
                <th>Rule</th>
                <th>Active</th>
            </tr>

            {{#each fudges as |fudge id|}}
            <tr data-fudge-id="{{fudge.id}}">
                <td>{{add @index 1}}</td>
                <td>{{fudge.userName}}</td>
                <td>{{fudge.rule}}</td>
                <td><input type="checkbox" name="{{fudge.id}}" {{checked fudge.active}} /></td>
                <td><a class="delete-button"><i class="fas fa-trash"></i></a></td>
            </tr>
            {{/each}}
        </table>

    </div>

</form>
